
<div style="text-align:center">
  <h1>
      {{ title }}!
  </h1>
  <h2>Aby zacząć naciśnij Start </h2>
  <button (click)="Start()">Start </button> <button (click)="Reset()">Reset</button>
<br>
<h3 style="color:red">{{countdown}} sec</h3>

<h3>{{stats}}</h3>

 Dobre /  Złe / Wszystkie
<app-calculations [isHidden] = 'isHidden'></app-calculations>
<br/>
</div>
<div style="text-align:center">
<font size="0.5">Author: Adam Strzelczyk mail:<a href="mailto:strzelczyk21@gmail.com">strzelczyk21@gmail.com</a></font>
</div>

