
<h2><font color="green">{{good}}</font> / <font color="red">{{bad}}</font> / {{all}}</h2>


<div [hidden]= "isHidden">
    <h3>{{result}} ÷ {{values.number1}} = {{answer}}</h3>

   {{res}}<br/>
  <label>Odpowiedź :
    <input [(ngModel)]= "answer" placeholder = "Czekam na odpowiedz">
   <button id="Check" (click)="correctOrNot()"> Sprawdź </button>



  </label>

  </div>

